/* Muhamad Afif Fadillah 001201900010*/

body {

background: lightgray;

margin: 0;

padding: 0;

}



#banner {

    height: 80x;

    background: linear-gradient(to right, black, #444, black) ;
    width: 100%;
}



#banner h1{

    font-family: sans-serif;

    font-size: 50px;

    font-weight: 800;

    color: white;

    margin: 0;

    padding: 20px 0px 20px;

    text-align: center;

    -webkit-text-stroke-width: 3px;

    -webkit-text-stroke-color: Black;

    -webkit-text-stroke-fill: white;

}



#banner1{

    height: 10px;

    background: linear-gradient(to right, red, orange, yellow, green, blue, pink, purple);

}



#menu{

    background: #333;

    height: 30px;



}

#menu ul { /* configuration for nav bar padding */

    list-style-type: none;

    padding-left: 30px;

    margin: 0;

}

#menu ul li { /*configuration so the menu list goes to the left*/

    float: left;

    padding: 5px 25px 0px;



}

#menu ul li a{

    color: white;

    font-family: sans-serif;

    font-weight: 600;

    text-decoration: none;

    margin: 0;

}



#menu ul li a:hover {

    color: red;

    font-weight: 800;

    margin-bottom: 5px;

}


#footer {

    height: 20px;
    text-align: center;
    font-family:Arial;
    padding: 2px 0px 0px;
    font-size: 12px;
    width: 100%;
    background-color: #333;
    color :white ;
    float: left;
}

*{
  border: 0px;
  margin: 0px;
}
#container{
  height: 100%;
  width:100%;

}
#wrapper{
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, black, #444, black) ;
  float: left;
}
/* ===== //// this is content banner area \\\\ ===== */
#content_banner{ /* located under the menu bar */
  width: 100%;
  height: 100%;
  padding-top: 5%;
  padding-bottom: 5%;
  background: linear-gradient(to right, black, #444, black);
  float: left;
}
#content_banner img{
  width: 20%;
  height: 100%;
  border-radius: 50%;
  margin-left: 5%;
  float: left;
}
#content_banner p{
  width: 60%;
  height: 100%;
  color: white;
  float: right;
  font-size: 17px;
  margin-right: 7%;
  overflow: hidden;
  overflow-y: hidden;
  text-align: justify;
}
#content_banner h1{

    width: 60%;
    height: 100%;
    color: white;
    float: right;
    font-size: 30px;
    margin-right: 7%;
    overflow: hidden;
    overflow-y: hidden;
    margin-bottom: 1%;
    margin-top: 5%;
}

/* ===== ///// MOVING TEXT AREA \\\\ ===== */
#moving_text{ /* located under content banner */
  width: 100%;
  height: 100%;
  background-color: black;
}
#moving_text marquee{
  color: white;
  border-bottom: 2px solid red;
}
/* ===== ///// END OF MOVING TEXT \\\\ ===== */

/* ==== ///// THI IS LEFT SIDE, CAN BE USED FOR NAVIGATION BAR \\\\\ ======*/
#left_side{
  height: 100%;
  border-right: 5px solid black;
  width: 20%;
  left: 0;
  float: left;
  margin-top: 1%;
  padding-right: 1%;
}
.content_left{ /* we recomend only use 5 list or multiply of 5 content for best result */
  width: 100%;
  height: 100%;
  background: black;
  margin-bottom: 2%;
  border-bottom: 2px solid red;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  font-size: 25px;
  color: white;
  text-align: center;
}
#left_side a{
  text-decoration: none;
}
.content_left p{
  color: white;
  float: left;
}
.content_left:hover{
    box-shadow: 0px 1px 20px #990000;
}

/* ==== ///// END OF LEFT SIDE \\\\\ ===== */



/*===== ///// RIGHT SIDE, LIST OF THE CONTENT (* NOTES : 3 CONTENT PER ROW) \\\\\ ===== */
#right_side{
  width: 100%;
  height: 100%;
  margin-left: 21%;
  margin-top: 1%;
}
.content_right{/* content per row recomended = 3 */
  height : 100%;
  width: 25%;
  background: linear-gradient(to right, black, #444, black) ;
  float: left;
  margin-bottom: 1%;
  margin-left: 1%;
  border-radius: 3%;
  border-bottom: 2px solid red;
}
.content_right:hover{
  box-shadow: 0px 1px 40px #990000;

}
.content_right img{  /* image size must be 1:1 ratio */
  width: 100%;
  height: 100%;
  float: left;
}
.content_right p{/* this paragraph used for Title */
  width: 100%;
  text-align: center;
  font-size:15px;
  float: left;
  color: white;
  padding-top: 2%;
  padding-bottom: 2%;
}

/* ===== ///// bacc to top button \\\\\ ====== */
#btpButton{
  width: 100%;
  background:yellow;

}
#btpButton a{
color: white;
}

.back_to_top{
  width: 10%;
  background: linear-gradient(to right, black, #444, black) ;
  border-bottom: 2px solid red;
  height: 100%;
  float: right;
  text-align: center;
  font-size: 15px;
  border-radius: 50px;
  margin-right: 2%;
  padding: 1% 1% 1% 1%;
  margin-bottom: 2%;
}
.back_to_top:hover{
  box-shadow: 0px 1px 20px #990000;

}
/* ====== //// END OF STYLING CSS //// =====  */


/* ===== //// RESPONSIVE STYLING CSS //// ===== */

@media screen and (min-width : 320px)and (max-width:375px){

  #content_banner img{
    width: 40%;
    margin-left: 30%;
  }
  #content_banner h1{
    width: 100%;
    margin-top: 5%;
    font-size: 15px;
    text-align: center;
    margin-right: 0;
  }
  #content_banner p{
    font-size: 13px;
    text-align: center;
    margin-right: 20%;
  }
  #moving_text marquee{
    font-size: 12px;
  }
  #left_side{
    width: 100%;
    border: none;
  }
  .content_left{
    width: 20%;
    float: left;
    border-radius: 50px;
    font-size: 12px;
    padding: 1% 0 1% 0;
  }
  #right_side{
    margin-left: 10%;
    margin-right: 10%;
  }
  .content_right{
    width: 80%;
    margin-bottom: 5%;
    background: yellow;
  }
  .content_right p{
    font-size: 12px;
  }

}
  @media screen and (min-width : 375px)and (max-width: 768px){

    #content_banner img{
      width: 40%;
      margin-left: 30%;
    }
    #content_banner h1{
      width: 100%;
      margin-top: 5%;
      font-size: 30px;
      text-align: center;
      margin-right: 0;
    }
    #content_banner p{
      font-size: 15px;
      text-align: center;
      margin-right: 20%;
    }
    #moving_text marquee{
      font-size: 15px;
    }
    #left_side{
      width: 100%;
      border: none;
    }
    .content_left{
      width: 20%;
      float: left;
      border-radius: 50px;
      font-size: 15px;
      padding: 1% 0 1% 0;
    }
    #right_side{
      margin-left: 10%;
      margin-right: 10%;
    }
    .content_right{
      width: 80%;
      margin-bottom: 5%;
    }
    .content_right p{
      font-size: 15px;
    }
  }
    @media screen and (min-width : 768px)and (max-width : 1023px){

      #content_banner img{
        width: 40%;
        margin-left: 30%;
      }
      #content_banner h1{
        width: 100%;
        margin-top: 5%;
        font-size: 40px;
        text-align: center;
        margin-right: 0;
      }
      #content_banner p{
        font-size: 20px;
        text-align: center;
        margin-right: 20%;
      }
      #moving_text marquee{
        font-size: 20px;
      }
      #left_side{
        width: 100%;
        border: none;
      }
      .content_left{
        width: 20%;
        float: left;
        border-radius: 50px;
        font-size: 20px;
        padding: 1% 0 1% 0;
      }
      #right_side{
        margin-left: 10%;
        margin-right: 10%;
      }
      .content_right{
        width: 80%;
        margin-bottom: 5%;
      }
      .content_right p{
        font-size: 25px;
      }

}
@media screen and (min-width : 1024px)and (max-width: 1100px){

  #content_banner img{
    width: 20%;
    height: 100%;
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
  }
  #content_banner p{
    width: 60%;
    height: 100%;
    color: white;
    float: right;
    font-size: 15px;
    margin-right: 7%;

  }
  #content_banner h1{
      width: 60%;
      height: 100%;
      margin-right: 7%;
      font-size: 30px;
  }
  #moving_text marquee{
    font-size: 15px;
  }
  #left_side{
    width: 20%;
    height: 100%
    border: 1% solid black;
  }
  .content_left{
    width: 100%;
    float: left;
    border-radius: 50px;
    font-size: 15px;
    padding: 1% 0 1% 0;
  }
